body{
    font-family:'Poppins';
    
    }
     
h1{
    font-family: 'serif';
}


h2{
    font-size: 40px;
    
}
h3{
    text-align: center;
    text-decoration: black;
}
.color-change{
    color: chocolate;
}
#shadow{
    border-left: 3px solid;
    border-color: chocolate;
    border-image-slice: 1;
}
   
.middle-text{
    text-align: center;
}
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
}

.half-width img{
    width: 100%;

}

 

.link-button{
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 40px;
    font-family: sans-serif;
    font-weight: 700px;
    color: cornsilk;
    border-radius: 10px;

}


section{
    display: flex;
}
.third-one{
    width: auto;
}

.third-one img{
    width: 100%;
}
.Mission{
    width: 33.33%;
    height: auto;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: purple;
}

.vision{
    width: 33.33%;
    height: auto;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: lightpink;
}

.Goal{
    width: 33.33%;
    height: auto;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: plum;
}

.side-gaph{
    margin: 70px;
}
.project img{
    margin-bottom: 20px;
}

footer{
    background-color: black;
    text-align: center;
}
.bottom-part{
    font-family: monospace;
    color: blanchedalmond;
}

